<div class="content">
    <!--fixed-column-wrap-->
    <div class="fixed-column-wrap">
        <div class="pr-bg"></div>
        <!--fixed-column-wrap-content-->
        <div class="fixed-column-wrap-content">
            <div class="scroll-nav-wrap color-bg">
                <div class="carnival">Scroll down</div>
                <div class="snw-dec">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
            </div>
            <div class="bg" data-bg="images/bg/about.jpg"></div>
           
            <div class="progress-bar-wrap bot-element">
                <div class="progress-bar"></div>
            </div>
            <!--fixed-column-wrap_title-->
            <div class="fixed-column-wrap_title first-tile_load">
                <h2>IGC<br>FASHION</h2>
               
            </div>
            <!--fixed-column-wrap_title end-->
            <div class="fixed-column-dec"></div>
        </div>
        <!--fixed-column-wrap-content end-->
    </div>
    <!--fixed-column-wrap end-->
    <!--column-wrap--> 
    <div class="column-wrap">
        <!--column-wrap-container -->   
        <div class="column-wrap-container fl-wrap">
            <div class="col-wc_dec">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <div class="col-wc_dec col-wc_dec2">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <!--section--> 
            <section id="sec1" class="small-padding">
                <div class="container">
                    <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <a href="membership.html" class="column-wrap-media_btn color-bg ">
                                 Membership </a>
                                <div class="pr-bg pr-bg-white"></div>
                            </a>
                            
                        </div>
                    <div class="split-sceen-content_title fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3> Our story</h3>
                        <p>IGC FASHION (Ibrahim and Godfrey’s community fashion)
                            was found in 2017 by two uganda fashion designers Kasoma Ibrahim & Katende Godfrey.
                      We are a fashion and costume label from kampala uganda inspired by African heritage, nature and culture always paired with a forward thinking and a unique design aesthetic.

                            We tend to look at a garment as a moving breathing piece of sculpture art which can be used as a vehicle for communicating and questioning ideas about our cultures.</p>

                        </div>
                    <div class="column-wrap-content fl-wrap">
                        <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <img src="images/all/video-pic.jpg"  class="respimg" alt="">
                            <a href="https://youtu.be/NwvpEVZh2Qo" class="column-wrap-media_btn color-bg image-popup">
                                 Image Book Download<i class="fas fa-play"></i>
                                <div class="pr-bg pr-bg-white"></div>
                            </a>
                            
                        </div>
                        <div class="column-wrap-text">
                            <div class="row">
                                <div class="col-md-4">
                                    <h3 class="pr-subtitle">
                                        We are a Design Community in Africa
                                        <div class="pr-bg pr-bg-white"></div>
                                    </h3>
                                </div>
                                <div class="col-md-8">
                                    <div class="pr-bg pr-bg-white"></div>
                                    <p> We are partially interested in using raw materials like bark cloth, raffia, sisal, shells and other neglected fabric items that can be combiner and transformed into a unique garment. As designers we find it more important to recognize craftsmanship and sustainability 
                                        and this contribution is something we always seek to incorporate into our work through reclying, sourcing from diverse African cultures and a zero waste initiative.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="row">
                        <h1 class="pr-subtitle">
                            OUR TEAM
                            <div class="pr-bg pr-bg-white"></div>
                        </h1>
                        <div class="column">
                          <div class="card">
                            <img src="images/team/ibrah.png" alt="Jane" style="width:100%">
                            <div class="container">
                                <br>
                              <h1><b>Ak Ibrahim</h1></b>
                              <p class="title">Art Director &amp; Co Founder</p>
                              
                              <p>info@igcfashion.co</p>
                              <p><button class="button">Contact</button></p>
                            </div>
                          </div>
                        </div>
                      
                        <div class="column">
                          <div class="card">
                            <img src="images/team/godfery.png" alt="Mike" style="width:100%">
                            <div class="container">
                                <br>
                              <h1><b>Katende Godfrey</h1></b>
                              <p class="title">CEO &amp; Founder</p>
                            
                              <p>info@igcfashion.co</p>
                              <p><button class="button">Contact</button></p>
                            </div>
                          </div>
                        </div>
                      
                        <div class="column">
                          <div class="card">
                            <img src="images/team/kiki.jpg" alt="John" style="width:100%">
                            <div class="container">
                                <br>
                                <h1><b>KATENDE KIKI </h1></b>
                              <p class="title">Manager</p>
                             
                              <p>info@igcfashion.co</p>
                              <p><button class="button">Contact</button></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                        <span>0</span>1.
                    </div>
                </div>
            </section>
            <!--section end--> 
            <div class="section-separator"></div>
            <!--section --> 
            <section   class="no-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="inline-facts-container fl-wrap">
                                <div class="pr-bg pr-bg-white"></div>
                                <!-- inline-facts -->
                                <div class="inline-facts-wrap">
                                    <div class="inline-facts">
                                        <div class="milestone-counter">
                                            <div class="stats animaper">
                                                <div class="num" data-content="0" data-num="137">0</div>
                                            </div>
                                        </div>
                                        <h6>Finished projects</h6>
                                    </div>
                                </div>
                                <!-- inline-facts end -->
                                <!-- inline-facts  -->
                                <div class="inline-facts-wrap">
                                    <div class="inline-facts">
                                        <div class="milestone-counter">
                                            <div class="stats animaper">
                                                <div class="num" data-content="0" data-num="126">0</div>
                                            </div>
                                        </div>
                                        <h6>Happy Clients</h6>
                                    </div>
                                </div>
                                <!-- inline-facts end -->
                                <!-- inline-facts  -->
                                <div class="inline-facts-wrap">
                                    <div class="inline-facts">
                                        <div class="milestone-counter">
                                            <div class="stats animaper">
                                                <div class="num" data-content="0" data-num="48">0</div>
                                            </div>
                                        </div>
                                        <h6>Working hours per week</h6>
                                    </div>
                                </div>
                                <!-- inline-facts end --> 
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--section end--> 
            <div class="section-separator"></div>
            <!--section--> 
            <section id="sec5" class="small-padding">
                <div class="container">
                    <div class="split-sceen-content_title fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3>Testimonials</h3>
                        <p> Fashion plays on life, on art, on love! When a designer is talking about a particularly moving gown or element of fashion, their words often relate to so much more.</p>
                    </div>
                    <div class="column-wrap-content fl-wrap">
                        <div class="column-wrap-text">
                            <div class="testilider fl-wrap" data-effects="slide">
                                <div class="pr-bg pr-bg-white"></div>
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <!-- swiper-slide -->
                                        <div class="swiper-slide">
                                            <div class="testi-item fl-wrap">
                                                <div class="testi-avatar"><img src="images/avatar/2.jpg" alt=""></div>
                                                <h3>Lorem Ipsum </h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                    <br>-<b>Lorem Ipsum is simply dummy </b></p>
                                            </div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide -->
                                        <div class="swiper-slide">
                                            <div class="testi-item fl-wrap">
                                                <div class="testi-avatar"><img src="images/avatar/1.jpg" alt=""></div>
                                                <h3>Lorem Ipsum</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                    <br>-<b>Lorem Ipsum is simply dummy </b></p>                                                           
                                            </div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide -->
                                        <div class="swiper-slide">
                                            <div class="testi-item fl-wrap">
                                                <div class="testi-avatar"><img src="images/avatar/.png" alt=""></div>
                                                <h3>Lorem Ipsum</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                    <br>-<b>Lorem Ipsum is simply dummy </b></p>
                                            </div>
                                        </div>
                                        <!-- swiper-slide end-->                                                
                                        <!-- swiper-slide -->
                                        <div class="swiper-slide">
                                            <div class="testi-item fl-wrap">
                                                <div class="testi-avatar"><img src="images/avatar/.jpg" alt=""></div>
                                                <h3>Lorem Ipsum</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                    <br>-<b>Lorem Ipsum is simply dummy </b></p>
                                            </div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        
                                    </div>
                                    <div class="testilider-controls">
                                        <div class="tc-pagination"></div>
                                        <div class="ss-slider-btn ss-slider-prev color-bg"><i class="fal fa-long-arrow-left"></i></div>
                                        <div class="ss-slider-btn ss-slider-next color-bg"><i class="fal fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                        <span>0</span>2.
                    </div>
                </div>
            </section>
            <!--section end-->         
        </div>
        <!--column-wrap-container end-->         
    </div>
    <!--column-wrap end--> 
    <div class="limit-box fl-wrap"></div>
</div>