
<div class="content" style="text-align: center; display: block;">
    <!--fixed-column-wrap-->

            <!--section end-->
            <!-- <div class="section-separator"></div> -->
            <!--section-->
            <section id="sec2" class="small-padding">
                <div class="container">
                    <div class="split-sceen-content_title_center fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3>GET IN TOUCH</h3>
                    </div>
                    <div id="contact-form">
                        <div class="pr-bg pr-bg-white"></div> 
                        <div id="message"> Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</div>
                        <form class="custom-form needs-validation" action="/contacts" name="contactform" id="contactform">
                            <div class="col-md-7">
                                <input type="text" name="name" id="name" placeholder="Your Name *" class="form-control" required/>
                            </div>
                            <div class="col-md-7">
                                <input type="text" name="email" id="email" placeholder="Email Address *" class="form-control"
                                    required />
                            </div>
                            <!-- <div class="row"> -->
                            <div class="col-md-7">

                                <textarea name="comments" id="comments" cols="40" rows="1"
                                placeholder="Description:" class="form-control" required></textarea>
                            </div>

                            <!-- </div> -->
                            <div class="col-md-7">

                            <button class="btn float-btn flat-btn color-bg" id="submit">Submit  <i
                                class="fal fa-long-arrow-right"></i></button>
                                </div>
                        </form>
                    </div>
                    <!-- contact form  end-->
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"> is do nt like you</div>
                        <span>0</span>2.
                    </div>
                </div>
            </section>
            <!--section end-->
        </div>
        <!--column-wrap-container end-->
    </div>
    <!--column-wrap end-->
    <div class="limit-box fl-wrap"></div>
</div>
<!--content end -->