<div class="content dark-bg">
  <!--section-->
  <section class="hero-section dark-bg" data-scrollax-parent="true">
    <div class="hero-canvas-wrap fs-canvas first-tile_load">
      <div class="dots gallery__dots" data-dots=""></div>
    </div>
    <div class="hero-bg">
      <div class="bg par-elem" data-bg="pics/DSC00407.jpg" data-scrollax="properties: { translateY: '30%' }"></div>

      <!-- <div class="pr-bg">hey</div>
        <div class="hero-bg-dec"><span> am here</span></div> -->
    </div>
    <div class="container">
      <div class="section-title fl-wrap first-tile_load">
        <h2>
          Upcoming<br />
          <span style="color: #f76905;">Events</span>
        </h2>

        <div class="section-title_category">
          <a href="#">CREATE.INSPIRE.SHARE</a> <a href="#">Design</a>
        </div>
      </div>
    </div>
    <div class="hero-start-link bot-element">
      <div class="scroll-down-wrap">
        <div class="mousey">
          <!-- <div class="scroller">hello</div> -->
        </div>
        <span>Scroll Down to discover</span>
      </div>
      <a href="#sec1" class="custom-scroll-link color-bg"><i class="fal fa-long-arrow-down"></i></a>
    </div>
  </section>
  <!--section end-->
  <!--section  -->
  <section class="no-padding-bottom dark-bg" id="sec1">
    <!-- container-->
    <div class="container">
      <!-- det-wrap-->
      <div class="fl-wrap det-wrap">
        <div class="row">
          <div class="first-tile_load">
            <!-- tabs-container-->
            <div id="tabs-container" class="fl-wrap">
              <!-- <div class="tabs-counter">
                <span>0</span>
                <div class="tc_item">1</div>
              </div> -->
              <!-- <ul class="tabs-menu fl-wrap">
                <li class="selectedLava">
                  <a href="#tab-1" data-tabnum="1"><span>01.</span>Munsiko</a>
                </li>
              
              </ul> -->
              <!-- tab-content-->
              <div id="tab-1" class="tab-content">
                <!-- <h3 class="pr-subtitle">SHOW CASE</h3> -->
                <!-- portfolio start -->
                <div class="
                      gallery-items
                      min-pad
                      lightgallery
                     three-column
                      fl-wrap
                    ">
                  <!-- gallery-item-->
                  <div class="gallery-item ">
                    <div class="grid-item-holder">
                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/uGGScubNrXA" title="YouTube video player"
                    frameborder="0"
                    allowfullscreen></iframe>
                    </div>
                  </div>
                  <!-- gallery-item end-->
                  <!-- gallery-item-->
                  <div class="gallery-item">
                    <div class="grid-item-holder">
                      <iframe width="100%" height="315" src="https://www.youtube.com/embed/S4bqsuHVtEE" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    </div>
                  </div>
                  <!-- gallery-item end-->
                  <!-- gallery-item-->
                  <div class="gallery-item">
                    <div class="grid-item-holder">
                      <iframe width="100%" height="315" src="https://www.youtube.com/embed/GXRTqCP42jk" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="gallery-item">
                    <div class="grid-item-holder">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/dZ-SdFxvo1Q" title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="gallery-item">
                    <div class="grid-item-holder">
                      <iframe width="100%" height="315" src="https://www.youtube.com/embed/aZIe1C53OBE" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="gallery-item">
                    <div class="grid-item-holder">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/NwvpEVZh2Qo" title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <!-- portfolio end -->
                <h3 class="pr-subtitle mar-top"></h3>
                <p></p>
              </div>
              <!-- tab-content end-->
            </div>
          </div>
        </div>
      </div>
      <!-- det-wrap end-->
    </div>
    <!-- container end -->
    <div class="clearfix"></div>
    <div class="limit-box fl-wrap"></div>
    <div class="content-nav_holder fl-wrap first-tile_load">
      <div class="container">
        <div class="content-nav">
          <!-- <ul>
              <li>
                <a href="portfolio-single13.html"
                  ><i class="fal fa-long-arrow-left"></i
                  ><span>Prev</span></a
                >
                <div class="content-nav_mediatooltip cnmd_leftside">
                  <img src="images/bg/hoima-airport-1.jpg" alt="" />
                </div>
              </li>
              <li>
                <a href="portfolio.html" class="list-folio_nav">
                  <span></span>
                </a>
              </li>
              <li>
                <a href="portfolio-single12.html"
                  ><span>Next</span>
                  <i class="fal fa-long-arrow-right"></i
                ></a>
                <div class="content-nav_mediatooltip cnmd_rightside">
                  <img src="images/bg/nsa-1.jpg" alt="" />
                </div>
              </li>
            </ul> -->
        </div>
      </div>
    </div>
  </section>
</div>
<div class="content"></div>
<div class="content">
  <!--section  -->
  <section class="no-padding-bottom" id="sec1">
    <!-- container-->

    <!-- container end -->

  </section>
</div>
<!--content end -->
<!-- footer -->
