<div class="content">
    <section class="hero-section dark-bg" data-scrollax-parent="true">
      <div class="hero-canvas-wrap fs-canvas first-tile_load">
        <div class="dots gallery__dots" data-dots=""></div>
        
      </div>
      <div class="hero-bg">
        <div
          class="bg par-elem"
          
          data-bg="images/bg/premier.jpg"
          data-scrollax="properties: { translateY: '30%' }"
        >
        
        </div>

        <div class="pr-bg"></div>
        <div class="hero-bg-dec"><span></span></div>
      </div>
      <div class="container">
        <div class="section-title fl-wrap first-tile_load">
          <h2>KWETU<br />KWANZA</h2> <h3> 20th April 2022 </h3>

          <div class="section-title_category">
            <a href="#">CREATE.INSPIRE.SHARE</a> <a href="#">Design</a>
          </div>
        </div>
      </div>
      <div class="hero-start-link bot-element">
        <div class="scroll-down-wrap">
          <div class="mousey">
            <div class="scroller"></div>
          </div>
          <span>Scroll Down to discover</span>
        </div>
        <a href="#sec1" class="custom-scroll-link color-bg"
          ><i class="fal fa-long-arrow-down"></i
        ></a>
      </div>
    </section>
    <!--section  -->
    <section class="no-padding-bottom" id="sec1">
      <!-- container-->
      <div class="container">
        <!-- det-wrap-->
        <div class="fl-wrap det-wrap">
          <div class="row">
            <div class="col-md-4">
              <div class="fixed-column fl-wrap">
                <div class="pr-bg pr-bg-white"></div>
                <div class="pr-title">
                  Upcoming Events
                  <span >APRIL 20TH 2022 <br> @BRITISH COUNCIL UGANDA PLOT 4, WINDSOR LOOP OFF KIRA RD KAMWOKYA, KAMPALA
                  <br> EVENT: 5:00PM - 8:00PM
                  </span>
                </div>
                <ul class="pr-list dark-bg">
                  <li><span>Choreography :</span><br> CHIEF SMOKIE AND PENCIL MO</li>
                  <li><span>Directed by :</span><br> NOAH GROTHE AND DEVIS AHIMBISIBWE</li>
                  <li><span>Producer :</span><br> ICG FASHION</li>
                  <li><span>Music By :</span><br> SEMALYE MUGGAGA TIMOTHY</li>
                  <li>
                    <span>DOP :</span> DIR LOSO
                  </li>
                 
                </ul>
                <div class="fixed-column-top">
                  <i class="fal fa-long-arrow-up"></i>
                </div>
              </div>
            </div>
            <div class="col-md-8 first-tile_load">
              <!-- tabs-container-->
              <div id="tabs-container" class="fl-wrap">
                <div class="tabs-counter">
                  <span>0</span>
                  <div class="tc_item">1</div>
                </div>
                <ul class="tabs-menu fl-wrap">
                  <li class="selectedLava">
                    <a href="#tab-1" data-tabnum="1"
                      ><span>01.</span>Details</a>
                      
                  </li>
                </ul>
                <!-- tab-content-->
                <div id="tab-1" class="tab-content">
                  <h3 class="pr-subtitle">MOVIE PREMIRE </h3><br> <h4>
                    APRIL 20TH 2022 <br> @BRITISH COUNCIL UGANDA PLOT 4, WINDSOR LOOP OFF KIRA RD KAMWOKYA, KAMPALA
                  <br> EVENT: 5:00PM - 8:00PM  <br> <br><br>
                    
                    
                  </h4>
                  <h4>
<iframe width="853" height="480" src="https://www.youtube.com/embed/pT3QbRByVtM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </h4>
                  
                  <video autoplay>

Example:
<video controls autoplay>
<source src="https://www.youtube.com/watch?v=pT3QbRByVtM" type="video/mp4">

</video>
                  <!-- portfolio start -->
                  <div
                    class="
                      gallery-items
                      min-pad
                      lightgallery
                      three-column
                      fl-wrap
                    "
                  > 
                    <!-- gallery-item-->
                    <div class="gallery-item">
                 
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item gallery-item-second">
                      <div class="grid-item-holder">
                        <a
                          href="images/folio/sample/AW19/aw2.jpg"
                          class="
                            fet_pr-carousel-box-media-zoom
                            popup-image
                          "
                          ><i class="fal fa-search"></i
                        ></a>
                        <img
                          src="images/folio/sample/AW19/aw2.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item">
                      <div class="grid-item-holder">
                        <a
                          href="images/folio/sample/AW19/aw3.jpg"
                          class="
                            fet_pr-carousel-box-media-zoom
                            popup-image
                          "
                          ><i class="fal fa-search"></i
                        ></a>
                        <img
                          src="images/folio/sample/AW19/aw3.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item web">
                      <div class="grid-item-holder">
                        <a
                          href="images/folio/sample/AW19/aw4.jpg"
                          class="
                            fet_pr-carousel-box-media-zoom
                            popup-image
                          "
                          ><i class="fal fa-search"></i
                        ></a>
                        <img
                          src="images/folio/sample/AW19/aw4.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item">
                      <div class="grid-item-holder">
                        <a
                          href="images/folio/sample/AW19/aw5.jpg"
                          class="
                            fet_pr-carousel-box-media-zoom
                            popup-image
                          "
                          ><i class="fal fa-search"></i
                        ></a>
                        <img
                          src="images/folio/sample/AW19/aw5.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                    <!-- gallery-item end-->
                    <!-- gallery-item-->
                    <div class="gallery-item">
                      <div class="grid-item-holder">
                        <a
                          href="images/folio/sample/AW19/aw6.jpg"
                          class="
                            fet_pr-carousel-box-media-zoom
                            popup-image
                          "
                          ><i class="fal fa-search"></i
                        ></a>
                        <img
                          src="images/folio/sample/AW19/aw6.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                    <!-- gallery-item end-->
                  </div>
                  <!-- portfolio end -->
                  <h3 class="pr-subtitle mar-top"></h3>
                  <p></p>
                </div>
                <!-- tab-content end-->
              </div>
              <!-- tabs-container end-->
              <div class="clearfix"></div>
              <span class="dec-border fl-wrap"></span>

              <div class="pr-bg pr-bg-white"></div>
            </div>
          </div>
        </div>
        <!-- det-wrap end-->
      </div>
      <!-- container end -->
      <div class="clearfix"></div>
      <div class="limit-box fl-wrap"></div>
      <div class="content-nav_holder fl-wrap first-tile_load">
        <div class="container">
          <div class="content-nav"></div>
        </div>
      </div>
    </section>
  </div>
  <div class="content"></div>
  <div class="content">
    <!--section  -->
    <section class="no-padding-bottom" id="sec1">
      <!-- container-->

      <!-- container end -->
      <div class="clearfix"></div>
      <div class="limit-box fl-wrap"></div>
      <div class="content-nav_holder fl-wrap first-tile_load">
        <div class="container">
          <div class="content-nav">
            <ul>
              <li>
                <br />
                <a href="collection3.html"
                  ><h1>KAMPALA DISASTERS</h1>
                  <i class="fal fa-long-arrow-left"></i>
                  <h1>BACK</h1></a
                >
                <!-- <div class="content-nav_mediatooltip cnmd_leftside">
                  <img src="images/all/mistaken3.png" alt="" />
                </div> -->
              </li>
              <li>
                <a href="#" class="list-folio_nav">
                  <span></span>
                </a>
              </li>
              <li>
                <br />
                <a href="collections.html"
                  ><h1>MUNSIKO</h1>
                  <i class="fal fa-long-arrow-right"></i>
                  <h1>NEXT</h1></a
                >
                <!-- <div class="content-nav_mediatooltip cnmd_rightside">
                  <img src="images/all/mistaken3.png" alt="" />
                </div> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--content end -->
  <!-- footer -->
  <div class="height-emulator fl-wrap"></div>
  <footer class="main-footer fixed-footer">
    <div class="pr-bg"></div>
    <div class="container">
      <div class="fl-wrap footer-inner">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-logo">
              <img src="images/igc-fashion-logo.png" alt="" />
            </div>
            <div class="footer_text footer-box fl-wrap">
              <p>
                IGC is a fashion and costume label from kampala uganda
                inspired by African heritage, nature and culture always
                paired with a forward thinking and a unique design
                aesthetic.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-header fl-wrap">
              <span>01.</span> Contacts
            </div>
            <!-- footer-contacts-->
            <div class="footer-contacts footer-box fl-wrap">
              <ul>
                <li>
                  <span>Call:</span
                  ><a href="tel: +(256)770693987">+(256)750889338 </a>
                </li>
                <li>
                  <span>Write :</span
                  ><a href="mailto: info@igcfashion.co">
                    info@igcfashion.co</a
                  >
                </li>
                <li>
                  <span>Find us : </span
                  ><a href="https://goo.gl/maps/Ku9ogvBxwpLqPCJTA">
                    Kisaasi, Kampala, Uganda
                  </a>
                </li>
              </ul>
            </div>
            <!-- footer contacts end -->
            <a href="mailto:info@igcfashion.co" class="fc_button"
              >Get In Touch <i class="fal fa-envelope"></i
            ></a>
          </div>
          <div class="col-md-4">
            <div class="footer-header fl-wrap">
              <span>02.</span> Subscribe
            </div>
            <div class="footer-box fl-wrap">
              <p>
                Want to be notified with our recent and on-going
                projects. Just sign up and we'll send you a notification
                by email.
              </p>
              <div class="subcribe-form fl-wrap">
                <form id="subscribe" class="fl-wrap">
                  <input
                    class="enteremail"
                    name="email"
                    id="subscribe-email"
                    placeholder="Your Email"
                    spellcheck="false"
                    type="text"
                  />
                  <button
                    type="submit"
                    id="subscribe-button"
                    class="subscribe-button"
                  >
                    Send <i class="fal fa-long-arrow-right"></i>
                  </button>
                  <label
                    for="subscribe-email"
                    class="subscribe-message"
                  ></label>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subfooter fl-wrap">
        <!-- policy-box-->
        <div class="policy-box">
          <span>&#169; IGC FASHION 2021 / All rights reserved. </span>
        </div>
        <!-- policy-box end-->
        <a href="#" class="to-top-btn to-top"
          >Back to top <i class="fal fa-long-arrow-up"></i
        ></a>
      </div>
    </div>
    <div class="footer-canvas">
      <div class="dots gallery__dots" data-dots=""></div>
    </div>
  </footer>