<div class="content">
    <!--fixed-column-wrap-->
    <div class="fixed-column-wrap">
        <!--fixed-column-wrap-content-->
        <div class="pr-bg"></div>
        <div class="fixed-column-wrap-content">
            <div class="scroll-nav-wrap color-bg">
                <div class="carnival">Scroll down</div>
                <div class="snw-dec">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
            </div>
            <div class="bg" data-bg="images/all/cyhper-6.jpg"></div>
          
            <div class="progress-bar-wrap bot-element">
                <div class="progress-bar"></div>
            </div>
            <!--fixed-column-wrap_title-->
            <div class="fixed-column-wrap_title first-tile_load">
                <h2>Fashion<br>Cyphers</h2>
                
            </div>
            <!--fixed-column-wrap_title end-->
            <div class="fixed-column-dec"></div>
        </div>
        <!--fixed-column-wrap-content end-->
    </div>
    <!--fixed-column-wrap end-->
    <!--column-wrap--> 
    <div class="column-wrap">
        <!--column-wrap-container -->   
        <div class="column-wrap-container fl-wrap">
            <div class="col-wc_dec">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <div class="col-wc_dec col-wc_dec2">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <section  class="small-padding article">
                <div class="container">
                    <div class="split-sceen-content_title fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3>STREET KIDS CYPHER 2017-2020</h3>
                    </div>
                    <div class="column-wrap-content fl-wrap">
                        <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="single-slider-wrap">
                                <div class="single-slider fl-wrap">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper lightgallery">
                                            <div class="swiper-slide hov_zoom"><img src="images/all/street-1.jpg" alt=""><a href="images/all/street-1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/street-2.jpg" alt=""><a href="images/all/street-2.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/street-3.jpg" alt=""><a href="images/all/street-3.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/street-4.jpg" alt=""><a href="images/all/street-4.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/street-5.jpg" alt=""><a href="images/all/street-5.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/street-6.jpg" alt=""><a href="images/all/street-6.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            
                                        </div>
                                    </div>
                                    
                                   
                                </div>
                                <div class="ss-slider-controls">
                                    <div class="pr-bg pr-bg-white"></div>
                                    <div class="ss-slider-pagination"></div>
                                    <div class="ss-slider-cont ss-slider-cont-prev color-bg"><i class="fal fa-long-arrow-left"></i></div>
                                    <div class="ss-slider-cont ss-slider-cont-next color-bg"><i class="fal fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="column-wrap-text">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="post-opt fl-wrap">
                                    </div>
                                    <p>We worked with the Akaana foundation for the street kids cypher since 2017, this cypher takes place in the suburbs of Kampala, Kivulu to be precise where most of these children spend their time, Akaana mobilises between 100-150 street kids who we help to mend their clothes, donate clothes, and teach life skills like tailoring and recycling their clothes, we have also collaborated with different artists in the fields of dance, rap, beatbox to share their talents and inspire the children with the hope of helping to create income generating activities rather than falling prey to anti social behaviour.
                                    </p>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                    </div>
                </div>
            </section>
            <!--section end--> 
            <div class="section-separator"></div>
            <!--section--> 
            <section  class="small-padding article">
                <div class="container">
                    <div class="split-sceen-content_title fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3>BATWA CYPHER 2017-NOW</h3>
                       
                    </div>
                    <div class="column-wrap-content fl-wrap">
                        <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="single-slider-wrap">
                                <div class="single-slider fl-wrap">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper lightgallery">
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-1.jpg" alt=""><a href="images/all/kwetu-1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-2.jpg" alt=""><a href="images/all/kwetu-2.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-3.jpg" alt=""><a href="images/all/kwetu-3.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-4.jpg" alt=""><a href="images/all/kwetu-4.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-5.jpg" alt=""><a href="images/all/kwetu-5.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-6.jpg" alt=""><a href="images/all/kwetu-6.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-7.jpg" alt=""><a href="images/all/kwetu-7.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="ss-slider-controls">
                                    <div class="pr-bg pr-bg-white"></div>
                                    <div class="ss-slider-pagination"></div>
                                    <div class="ss-slider-cont ss-slider-cont-prev color-bg"><i class="fal fa-long-arrow-left"></i></div>
                                    <div class="ss-slider-cont ss-slider-cont-next color-bg"><i class="fal fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="column-wrap-text">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="post-opt fl-wrap">
                                    </div>
                                    <p>We were introduced to the Batwa community by an organisation called Local kid foundation who sponsor
                                         batwa children to get education and shelter. The Batwa is a marginalised group of people living in 
                                         the western parts of Uganda who were displaced from their ancestral home to boost the tourism industry
                                          in Uganda, this relocation has left the group without a lot of the basic needs and this is the reason
                                           why we reached out to do the cypher there and introduce the batwa to the different arts. Since then
                                            we have been returning to the region with masterclasses for the parents to create fashion items like
                                             bags that Local kid Foundation helps them to sell and intern can provide some basic needs for their 
                                             families.

                                           </p>
                                        </div>
                                    </div>
                        </div>
                     
                    </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                    </div>
                </div>
            </section>
            <!--section end-->        
            <div class="section-separator"></div>
            <!--section--> 
            <section  class="small-padding article">
                    <div class="container">
                        <div class="split-sceen-content_title fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <h3>WEAR YOUR DREAMS CYPHER 2018</h3>
                            
                        </div>
                        <div class="column-wrap-content fl-wrap">
                            <div class="column-wrap-media fl-wrap">
                                <div class="pr-bg pr-bg-white"></div>
                                <div class="single-slider-wrap">
                                    <div class="single-slider fl-wrap">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper lightgallery">
                                                <div class="swiper-slide hov_zoom"><img src="images/all/wearyourdreams-1.jpg" alt=""><a href="images/all/wearyourdreams-1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                <div class="swiper-slide hov_zoom"><img src="images/all/wearyourdreams-2.jpg" alt=""><a href="images/all/wearyourdreams-2.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                <div class="swiper-slide hov_zoom"><img src="images/all/wearyourdreams-3.jpg" alt=""><a href="images/all/wearyourdreams-3.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                <div class="swiper-slide hov_zoom"><img src="images/all/wearyourdreams-4.jpg" alt=""><a href="images/all/wearyourdreams-4.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ss-slider-controls">
                                        <div class="pr-bg pr-bg-white"></div>
                                        <div class="ss-slider-pagination"></div>
                                        <div class="ss-slider-cont ss-slider-cont-prev color-bg"><i class="fal fa-long-arrow-left"></i></div>
                                        <div class="ss-slider-cont ss-slider-cont-next color-bg"><i class="fal fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column-wrap-text">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="post-opt fl-wrap">
                                        </div>
                                        <p>We collaborated on this project with a US based design and holistic practitioner called 
                                            Isamer Gonzales who fundrised 5000 dollars to create different art pieces with the community
                                             of Kitgum, this is a region that has been affected with wars for almost a decade and the youth
                                              are starting to rebuild their communities and we felt the need to help, through a friend called
                                               Ben that owns a community centre we were able to get introduced to youth and single mothers to 
                                               work with them to Develop different skills like crotetch, macrame, tie and dye, printing.
                                                We first met Isamer when she came to Uganda with the Paper Fig Foundation a US based NGO, 
                                                she attended one of our cyphers and wanted to help.
                                        </p>
                                     </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="section-number right_sn">
                            <div class="pr-bg pr-bg-white"></div>
                        </div>
                    </div>
                </section>
                <!--section end-->      
            <div class="section-separator"></div>
            <!--section--> 
            <section  class="small-padding article">
                    <div class="container">
                        <div class="split-sceen-content_title fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <h3>KAZO CYPHER 2015-NOW</h3>
                            
                        </div>
                        <div class="column-wrap-content fl-wrap">
                            <div class="column-wrap-media fl-wrap">
                                <div class="pr-bg pr-bg-white"></div>
                                <div class="single-slider-wrap">
                                    <div class="single-slider fl-wrap">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper lightgallery">
                                                <div class="swiper-slide hov_zoom"><img src="images/all/kazo-6.jpg" alt=""><a href="images/all/kazo-5.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                <div class="swiper-slide hov_zoom"><img src="images/all/kazo-5.jpg" alt=""><a href="images/all/.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                <div class="swiper-slide hov_zoom"><img src="images/all/kazo-2.jpg" alt=""><a href="images/all/kazo-2.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                <div class="swiper-slide hov_zoom"><img src="images/all/kazo-3.jpg" alt=""><a href="images/all/kazo-3.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                <div class="swiper-slide hov_zoom"><img src="images/all/kazo-4.jpg" alt=""><a href="images/all/kazo-4.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            </div>
                                            
                                </div>
                                <div class="ss-slider-controls">
                                    <div class="pr-bg pr-bg-white"></div>
                                    <div class="ss-slider-pagination"></div>
                                    <div class="ss-slider-cont ss-slider-cont-prev color-bg"><i class="fal fa-long-arrow-left"></i></div>
                                    <div class="ss-slider-cont ss-slider-cont-next color-bg"><i class="fal fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                        
                            <div class="column-wrap-text">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="post-opt fl-wrap">
                                        </div>
                                        <br><br>
                                        <p> Kazo is the place where both Ak and Blak the founders of IGC grew up, went to school,
                                             and became friends, this is also the place where 
                                            they volunteered at UWYEFA for more than five years. 
                                            Since the inception of iGC fashion they have continued to
                                             carry out cyphers and masterclasses, Kazo is a place with a
                                              lot of youth unemployment and young mothers in Kampala. 
                                              In 2016 we partnered with BWSA a community organisation 
                                              in Kazo and opened the Zinunula Art studio to give the youth 
                                              a place to work and learn different art forms. This is an ongoing project.

                                     </div>
                                </div>
                            </div>
                    
                        </div>
                        <div class="section-number right_sn">
                            <div class="pr-bg pr-bg-white"></div>
                        </div>
                    </div>
                </section>
            <!--section end--> 

                <div class="section-separator"></div>
                <!--section--> 
            <section  class="small-padding article">
                <div class="container">
                    <div class="split-sceen-content_title fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3>KAWEMPE CYPHER 2018-2020</h3>
                        
                    </div>
                    <div class="column-wrap-content fl-wrap">
                        <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="single-slider-wrap">
                                <div class="single-slider fl-wrap">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper lightgallery">
                                            <div class="swiper-slide hov_zoom"><img src="images/all/cypher-street1.jpg" alt=""><a href="images/all/cypher-street1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/cypher-street3.jpg" alt=""><a href="images/all/cypher-street3.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/cypher-street4.jpg" alt=""><a href="images/all/cypher-street4.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                        </div>
                                        
                            </div>
                            <div class="ss-slider-controls">
                                <div class="pr-bg pr-bg-white"></div>
                                <div class="ss-slider-pagination"></div>
                                <div class="ss-slider-cont ss-slider-cont-prev color-bg"><i class="fal fa-long-arrow-left"></i></div>
                                <div class="ss-slider-cont ss-slider-cont-next color-bg"><i class="fal fa-long-arrow-right"></i></div>
                            </div>
                        </div>
                    
                        <div class="column-wrap-text">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="post-opt fl-wrap">
                                    </div>
                                    <br><br>
                                    <p> We partnered with Grow to Build and Akalo kange two projects started by two talented
                                         hip hop artists that so the need to teach the next generation different Hip hop elements.
                                         This event brings together many different performing artists to share their talents with
                                          the community with the goal of inspiring children and help them explore their creative niche.</p>


                                 </div>
                            </div>
                        </div>
                
                    </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                    </div>
                </div>
            </section>
        <!--section end--> 
           </div>
        <!--column-wrap-container end-->         
    </div>
    <!--column-wrap end--> 
    <div class="limit-box fl-wrap"></div>
</div>
<!--content end -->       
  <!-- footer -->
<div class="height-emulator fl-wrap"></div>
