 <div id="tabs-container" class="fl-wrap">
    <!-- <div class="tabs-counter">
                    <span class="tab-name">Mistaken Fabrics</span>
                    <div class="tc_item">Mistaken Fabrics</div>
                  </div> -->

    <!-- <div class="tabs-counter">
                <span>0</span>
                <div class="tc_item">1</div>
              </div> -->
    <!-- <ul class="tabs-menu fl-wrap">
                <li class="selectedLava">
                  <a href="#tab-1" data-tabnum="1"><span>01.</span>Munsiko</a>
                </li>
              
              </ul> -->
    <!-- tab-content-->
    <div id="tab-1" class="tab-content">
      <!-- <h3 class="pr-subtitle">SHOW CASE</h3> -->
      <!-- portfolio start -->
      <div class="gallery-items
                      min-pad
                      lightgallery
                     two-column
                      fl-wrap
                    ">
        <!-- gallery-item-->
        <div class="gallery-item" style="height: 400px;">
          <div class="grid-item-holder">
            <!-- <a href="images/folio/sample/mistaken fabrics/igc-fashion-mistaken-fabrics-sustainable-fashion-campaign-photo-shoot.JPG"
              class="
                                                              fet_pr-carousel-box-media-zoom
                                                              popup-image
                                                            "><i class="fal fa-search"></i></a> -->
            <img src="images/home4.png" alt="" />
          </div>
        </div>
        <!-- gallery-item end-->
        <!-- gallery-item-->
        <div class="gallery-item" style="height: 400px;">
          <!-- <div class="grid-item-holder">
            <a href="images/folio/sample/mistaken fabrics/igc-fashion-mistaken-fabrics-sustainable-fashion-campaign-photo-shoot.JPG"
              class="
                                                            fet_pr-carousel-box-media-zoom
                                                            popup-image
                                                          "><i class="fal fa-search"></i></a> -->
          <img src="images/home3.png" alt="" />
        </div>
        <div class="gallery-item" style="height: 400px;">
          <div class="grid-item-holder">
            <!-- <a href="images/folio/sample/mistaken fabrics/igc-fashion-mistaken-fabrics-sustainable-fashion-campaign-photo-shoot.JPG"
                      class="
                                                                      fet_pr-carousel-box-media-zoom
                                                                      popup-image
                                                                    "><i class="fal fa-search"></i></a> -->
            <img src="images/home5.png" alt="" />
          </div>
        </div>
        <!-- gallery-item end-->
        <!-- gallery-item-->
        <div class="gallery-item" style="height: 400px;">
          <!-- <div class="grid-item-holder">
                    <a href="images/folio/sample/mistaken fabrics/igc-fashion-mistaken-fabrics-sustainable-fashion-campaign-photo-shoot.JPG"
                      class="
                                                                    fet_pr-carousel-box-media-zoom
                                                                    popup-image
                                                                  "><i class="fal fa-search"></i></a> -->
          <img src="images/home6.png" alt="" />
        </div>
      </div>
      <!-- gallery-item end-->

      <!-- portfolio end -->
      <!-- <h3 class="pr-subtitle mar-top">thi is</h3> -->
      <p></p>
    </div>
    <!-- tab-content end-->
  </div>