<div class="content">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <!-- <img src="/images/homebanner.jpeg" width="100%" class="d-block w-100" alt="..."> -->
        <img src="/images/home.png" width="100%" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          IGC FASHION
        </div>
      </div>
      <!-- <div class="item active">
        <section class="hero-section dark-bg" data-scrollax-parent="true">
          <div class="hero-canvas-wrap fs-canvas first-tile_load">
          
          </div>
          <div class="hero-bg">
            <div class="bg par-elem" data-bg="/images/homebanner.jpeg"
              data-scrollax="properties: { translateY: '30%' }">
            </div>

        
          </div>
          <div class="container">
            <div class="section-title fl-wrap first-tile_load">
              <h2>
             
                <span style="color: #f76905;">IGC FASHION</span>
              </h2>

           
            </div>
          </div>
         
        </section>
        <div class="carousel-caption">
          Another Image
        </div>
      </div> -->
      <!-- <div class="item">
        <img class="img-responsive" src="http://placehold.it/1200x600/fcf00c/000&text=Three" alt="...">
        <div class="carousel-caption">
          Another Image
        </div>
      </div> -->
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>




<div class="row2">
  <div class="column">
    <img src="images/home5.png" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="images/homex.jpeg" alt="Forest" style="width:100%;">
  </div>

</div>
<div class="row2">
  <div class="column">
    <img src="images/home3.png" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="images/home4.png" alt="Snow" style="width:100%">
  </div>
</div>





</div>

<div class="home-title fl-wrap">
  <!-- <div class="pr-bg pr-bg-white"></div> -->
  <h3>Collections</h3>
</div>


<div class="
                        gallery-items
                        min-pad
                        lightgallery
                       four-column
                        fl-wrap
                      ">
  <!-- gallery-item-->
  <div class="gallery-item " style="padding: 5px">
<a href="/munsiko">
      <h3 class="sub-title" style="color: white;">Munsiko</h3>
      <div class="grid-item-holder">
        <!-- <a href="images/folio/sample/IMG_3219.JPG"
          class="
                                                                          fet_pr-carousel-box-media-zoom
                                                                          popup-image
                                                                        "><i class="fal fa-search"></i></a> -->
<a href="/munsiko">
        
          <img
            src="images/folio/sample/IMG_3219.JPG"
            alt="" />
            </a>
      
      
      
      </div>
</a>
  </div>
  <!-- gallery-item end-->
  <!-- gallery-item-->
  <div class="gallery-item" style="padding: 5px">
    <a href="/mistakenfabricscollection">
<h3 class="sub-title" style="color: white;">Mistaken Fabrics</h3>

<div class="grid-item-holder">
  <!-- <a href="images/folio/sample/mistaken fabrics/igcfashion-mistaken-fabrics-africa-fashion-slow-fashion-revolution.JPG"
    class="
                                                                    fet_pr-carousel-box-media-zoom
                                                                    popup-image
                                                                  "><i class="fal fa-search"></i></a>
    <a href="/mistakenfabricscollection"> -->

  <img
    src="images/folio/sample/mistaken fabrics/igcfashion-mistaken-fabrics-africa-fashion-slow-fashion-revolution.JPG"
    alt="" />
    </a>
</div>
    </a>
   
  </div>
  <!-- gallery-item end-->
  <!-- gallery-item-->
  <div class="gallery-item" style="padding: 5px">
    <a href="/aw19">
<h3 class="sub-title" style="color: white;">AW19</h3>

<div class="grid-item-holder">
  <!-- <a href="images/folio/sample/AW19/aw2.jpg"
    class="
                                                                  fet_pr-carousel-box-media-zoom
                                                                  popup-image
                                                                "><i class="fal fa-search"></i></a> -->
    <a href="/aw19">

  <img
    src="images/folio/sample/AW19/aw2.jpg"
    alt="" />
    </a>
</div>
    </a>
   
    
  </div>
  <div class="gallery-item">
    <a href="/kampaladisasters">
  <h3 class="sub-title" style="color: white">Kampala Disaster</h3>
  
  <div class="grid-item-holder">
    <!-- <a href="images/folio/sample/KAMPALA DISASTERS/kampala2.JPG"
      class="
                                                                      fet_pr-carousel-box-media-zoom
                                                                      popup-image
                                                                    "><i class="fal fa-search"></i></a> -->
    <a href="/kampaladisasters">
  
    <img
      src="images/folio/sample/KAMPALA DISASTERS/kampala2.JPG"
      alt="" />
      </a>
  </div>
    </a>
  
  </div>


</div>
