<!DOCTYPE html>
<html lang="en">
  <head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>
      <%= title %>
    </title>

    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="css/reset.css" />
    <link type="text/css" rel="stylesheet" href="css/plugins.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/color.css" />
    <link href="/css/font-awesome.css" rel="stylesheet"
      type='text/css'>
    <!-- <link rel="stylesheet" rel="stylesheet" href="css/fontawesome.min.css" /> -->
    <!-- <link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
  rel="stylesheet"
/> -->
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="images/favicon.png" />
  </head>
  <body>
    <!--Loader -->
    <div class="loader2">
      <div class="loader loader_each"><span></span></div>
    </div>
    <!-- loader end  -->
    <!-- main start  -->
    <div id="main">
      <!-- header start  -->
      <header class="main-header">
        <a href="/" class="header-logo"
          ><img src="images/igc-fashion-logo.png" alt=""
        /></a>
        <!-- sidebar-button -->
        <!-- nav-button-wrap-->
        <div class="nav-button-wrap">
          <div class="nav-button">
            <span class="nos"></span>
            <span class="ncs"></span>
            <span class="nbs"></span>
            <div class="menu-button-text">Menu</div>
          </div>
        </div>
        <!-- nav-button-wrap end-->
        <!-- sidebar-button end-->
        <!--  navigation -->
        <div class="header-contacts">
          <ul>
            <li>
              <span> Call </span>
              <a href="tel:+(256) 759899438"> +256759899438 +256759899438</a>
            </li>
            <li>
              <span> Write </span>
              <a href="contacts">To Us</a>
            </li>
          </ul>
        </div>
        <!-- navigation  end -->
      </header>
      <!-- header end -->
      <!-- left-panel -->
      <div class="left-panel">
        <div class="horizonral-subtitle">
          <span><strong></strong></span>
        </div>
        <div class="left-panel_social"></div>
      </div>
      <!-- left-panel end -->
      <!-- share-button -->

      <!-- share-button end -->
      <!-- wrapper  -->
      <div id="wrapper">
        <!-- content-holder  -->
        <div
          class="content-holder"
          data-pagetitle="CULTURE.TRIBAL. SUSTAINABILITY.COMMUNITY"
        >
          <!-- nav-holder-->
          <div class="nav-holder but-hol">
            <div class="nav-scroll-bar-wrap fl-wrap">
              <!-- <div class="nav-search">
                <form action="#" class="searh-inner fl-wrap"></form>
              </div> -->
              <!-- nav -->
              <nav class="nav-inner" id="menu">
                <ul>
                  <li>
                    <a href="/" class="act-link">Home</a>
                  </li>
                  <li><a href="about" class="act-link">About</a></li>
                  <li><a href="projects" class="act-link">Projects</a></li>
                  <li><a href="events" class="act-link">Events</a></li>
                  <li>
                    <a href="http://shop.igcfashion.co" target="_blank" class="act-link">Shop</a>
                  </li>
                  <li></li>
                  <li><a href="collections" class="act-link">Collections</a></li>
                  <li></li>
                  <li><a href="contacts" class="act-link">Contact Us</a></li>
                </ul>
              </nav>
              <!-- nav end-->
              <!--lang-links-->

              <!--lang-links end-->
            </div>
            <!--nav-social-->
            <div class="nav-social">
              <span class="nav-social_title">Follow us : </span>
              <ul>
                <li>
                  <a href="https://www.facebook.com/IGCfashion" target="_blank"
                    ><i class="fab fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/igc_fashion/?hl=en"
                    target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.pinterest.com/igcfashion"
                    target="_blank"
                    ><i class="fab fa-pinterest"></i
                  ></a>
                </li>
              </ul>
            </div>
            <!--nav-social end -->
          </div>
          <div class="nav-overlay">
            <div class="element"></div>
          </div>
          <!-- nav-holder end -->
          <!--Content -->



          <%-include(PageContent) %>
        
          <!-- content  end -->
          <!-- share-wrapper-->
         
          <!-- share-wrapper  end -->
        </div>
        <!-- content-holder end -->
      </div>
      <!-- wrapper end -->
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
  </body>
</html>
