<div class="content">
    <!--fixed-column-wrap-->
    <div class="fixed-column-wrap">
        <!--fixed-column-wrap-content-->
        <div class="pr-bg"></div>
        <div class="fixed-column-wrap-content">
            <div class="scroll-nav-wrap color-bg">
                <div class="carnival">Scroll down</div>
                <div class="snw-dec">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
            </div>
            <div class="bg" data-bg="images/all/kewtu-about.jpg"></div>
          
            <div class="progress-bar-wrap bot-element">
                <div class="progress-bar"></div>
            </div>
            <!--fixed-column-wrap_title-->
            <div class="fixed-column-wrap_title first-tile_load">
                <h2>KWETU  <br> KWANZA</h2>
                
            </div>
            <!--fixed-column-wrap_title end-->
            <div class="fixed-column-dec"></div>
        </div>
        <!--fixed-column-wrap-content end-->
    </div>
    <!--fixed-column-wrap end-->
    <!--column-wrap--> 
    <div class="column-wrap">
        <!--column-wrap-container -->   
        <div class="column-wrap-container fl-wrap">
            <div class="col-wc_dec">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <div class="col-wc_dec col-wc_dec2">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <section  class="small-padding article">
                <div class="container">
                    <div class="split-sceen-content_title fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3>
                            HOW WE CAN BUILD A MORE SUSTAINABLE FASHION AND CREATIVE INDUSTRY USING
                             COLLABORATIVE LEARNING WORKSHOPS AND INSPIRATIONAL TALKS
                          </h3>
                    </div>
                    <div class="column-wrap-content fl-wrap">
                        <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="single-slider-wrap">
                                <div class="single-slider fl-wrap">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper lightgallery">
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-01.jpg" alt=""><a href="images/all/kwetu-01.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-02.jpg" alt=""><a href="images/all/kwetu-02.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-03.jpg" alt=""><a href="images/all/kwetu-03.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-04.jpg" alt=""><a href="images/all/kwetu-04.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-05.jpg" alt=""><a href="images/all/kwetu-05.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                           
                                            
                                        </div>
                                    </div>
                                    
                                   
                                </div>
                                <div class="ss-slider-controls">
                                    <div class="pr-bg pr-bg-white"></div>
                                    <div class="ss-slider-pagination"></div>
                                    <div class="ss-slider-cont ss-slider-cont-prev color-bg"><i class="fal fa-long-arrow-left"></i></div>
                                    <div class="ss-slider-cont ss-slider-cont-next color-bg"><i class="fal fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="column-wrap-text">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="post-opt fl-wrap">
                                        
                                    </div>
                                    <div class="split-sceen-content_title fl-wrap">
                                        <div class="pr-bg pr-bg-white"></div>
                                        <h3>
                                            MISSION 
                                          </h3>
                                    </div>
                                    
                                    <p>
                                        This workshop focuses on making sustainable fashion knowledge and practices known by
creatives to foster change and introduce a more thought through approach to garment
production and consumption. This is needed knowledge that will help preserve limited
resources, help reduce or better eradicate the negative social and environmental effects of the
current textile and fashion industry.
Why this workshop is important: Sustainable consumption and production are important
elements in preserving limited natural resources and avoiding climate change. In the textile
sector, the increased consumption is mainly due to fast-changing, affordable fashion that results
in an increasing amount of textile waste. The environmental impacts of textile production
include energy consumption, water use, chemicals, dyes and finishes and greenhouse gas

emissions. Textile production is one of the most polluting industries in the world. Due to the by-
products of fast fashion, the local industry has suffered greatly as second hand clothes continue

to pour into the country </p>
<BR> <BR>
<p>Engaging designers and creatives in sustainable fashion workshops can
motivate people to act in ways that protect and sustain the services they care about and help
forge a course of action as our local fashion and creative industry are growing.
Decision-making requires engaging people with diverse and conflicting perspectives in dialogues
about what is at stake, who benefits and who stands to lose. This workshop provides participants
with practical, ethical and effective techniques immediately applicable in a variety of contexts
to improve the way clothes are made and consumed. Collaborative Learning is a powerful
engagement process that can move groups forward in spite of conflicts, uncertainty and
complexity, collaborative learning can reduce conflict, contribute to development of shared
meaning among the group and facilitate actions that sustain creative thinking recognized as
important. Inspirational talks give stimuli to the audience to make changes and therefore
improve the value of their lives. They not only motivate people but also give essential education
and teach the ways to achieve that change, they provide a proven system and successful
examples.
</p>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                    </div>
                </div>
            </section>
            <!--section end--> 
            <div class="section-separator"></div>

            
            <!--section--> 
            <section  class="small-padding article">
                <div class="container">
                    <div class="split-sceen-content_title fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3>Strategy</h3>
                       
                    </div>
                    <div class="column-wrap-content fl-wrap">
                        <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="single-slider-wrap">
                                <div class="single-slider fl-wrap">
                                   
                                </div>
                               
                            </div>
                        </div>
                        <div class="column-wrap-text">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="post-opt fl-wrap">
                                    </div>
                                    <p>Who should attend this workshop? Fashion Design professionals, design students, textile
                                        companies, tailors, retailers, artisans and artists working in the creative and fashion industry
                                        who would like to learn about environmental and social sustainability, collaborative partnerships
                                        and ongoing adaptive sustainable approaches to value, manage and sustain the planet and
                                        creative industry.
                                        As well as attending the workshop, participants will meet and engage with our other partners
                                        including Kampala Fashion Week (KFW), Paper Fig Foundation (PFF) and Seed Project Uganda.
                                        Following the training they can be automatically entered into the first round of the Seed Project
                                        Uganda, a competition for young Ugandan designers which finishes in a showcase at KFW and a
                                        years mentorship from both local and international industry professionals. They will also have
                                        the opportunity to volunteer at KFW, working under International design professionals.
                                        Following on from this one-day workshop, we will be hosting an open studio ‘Sustainable Fashion
                                        Week’ whereby participants can sign up to take part in a hands-on making session each day
                                        focussing on sustainable design strategies e.g.recycling, zero-waste cutting, natural dying, using
                                        local fabrics.
                                        
                                          
                                           </p>
                                           <br>

                                           <div class="split-sceen-content_title fl-wrap">
                                            <div class="pr-bg pr-bg-white"></div>
                                            <h3>
                                                Purpose 
                                              </h3>
                                        </div>
                                    <p>
                                       
                                        What participants will learn during the workshop? Participants will begin with an introduction
                                        to Sustainable fashion and why a Fashion revolution is needed. Then, using the collected data
                                        
                                        hand outs, videos/screening (The True Cost documentary, 2015), and research, participants will
                                        learn about the current situation of the fashion industry and its social and environmental
                                        impact, plus the current situation of second hand clothes and its effects on the local apparel
                                        industry. They will also learn about the value of our local raw, organic materials and how to
                                        incorporate them into the Fashion Industry. Quizzes will follow for evaluation.
                                        ,Inspirational speeches from both local and international sustainable fashion designers and
                                        industry experts will be sharing professional experiences and how they are changing the face of
                                        fashion, questions and answer sessions will follow.
                                        Participants will learn about inclusive fashion and the role of the community in the fashion value
                                        chain. A Collaborative Learning approach will help participants to experiment and understand
                                        sustainable design strategies, what they are and how they can be integrated within the system
                                        of designing and making fashion products. For instance, design for disassembly for easier product
                                        recycling, durability in design, up cycling and a zero-waste approach to material use in
                                        production.
                                        Participants will learn to work outside there comfort zones and collaborate with other creatives
                                        that are not in their same field to finish design tasks, this will also help to foster future
                                        collaborations even after the workshops.<br>


                                        
                                        At the end of the workshop, participants should be able to:<br>
                                        • Identify the social and environmental impacts of fashion<br>
                                        • Define Sustainable fashion and describe how it can be adapted to their work in the
                                        creative sector<br>
                                        • Describe Sustainable strategies and the role these strategies play in promoting
                                        sustainable fashion<br>
                                        • Be able to use at least one of the sustainable design strategies in their work<br>
                                        • Describe ways to apply Collaborative Learning to improve communication about
                                        sustainability<br>
                                        • Describe sustainable materials and fabrics and the effect other materials have on the
                                        environment and the people.<br>
                                        • Design a sustainable garment
                                        </p>
                                 </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                    </div>
                </div>
            </section>
            <!--section end-->        
             <div class="section-separator"></div>
           </div>
        <!--column-wrap-container end-->         
    </div>
    <!--column-wrap end--> 
    <div class="limit-box fl-wrap"></div>
</div>
<!--content end -->       
  <!-- footer -->
