<div class="content">
    <!--section-->
    <section class="hero-section dark-bg" data-scrollax-parent="true">
      <div class="hero-canvas-wrap fs-canvas first-tile_load">
        <div class="dots gallery__dots" data-dots=""></div>
      </div>
      <div class="hero-bg">
        <div
          class="bg par-elem"
          data-bg="images/bg/W19.png"
          data-scrollax="properties: { translateY: '30%' }"
        ></div>

        <div class="pr-bg"></div>
        <div class="hero-bg-dec"><span></span></div>
      </div>
      <div class="container">
        <div class="section-title fl-wrap first-tile_load">
          <h2>MEMBERSHIP<br /></h2>

          <div class="section-title_category">
            <a href="#">CREATE.INSPIRE.SHARE</a> <a href="#">Design</a>
          </div>
        </div>
      </div>
      <div class="hero-start-link bot-element">
        <div class="scroll-down-wrap">
          <div class="mousey">
            <div class="scroller"></div>
          </div>
          <span>Scroll Down to discover</span>
        </div>
        <a href="#sec1" class="custom-scroll-link color-bg"
          ><i class="fal fa-long-arrow-down"></i
        ></a>
      </div>
    </section>
    <!--section end-->
    <div class="content">
      <!--fixed-column-wrap-->
      <div class="fixed-column-wrap">
        <div class="pr-bg"></div>
        <!--fixed-column-wrap-content-->
        <div class="fixed-column-wrap-content">
          <div class="scroll-nav-wrap color-bg">
            <div class="carnival">Scroll down</div>
            <div class="snw-dec">
              <div class="mousey">
                <div class="scroller"></div>
              </div>
            </div>
          </div>
          <div class="bg" data-bg="images/bg/about.jpg"></div>

          <div class="progress-bar-wrap bot-element">
            <div class="progress-bar"></div>
          </div>
          <!--fixed-column-wrap_title-->
          <div class="fixed-column-wrap_title first-tile_load">
            <h2>IGC<br />FASHION</h2>
          </div>
          <!--fixed-column-wrap_title end-->
          <div class="fixed-column-dec"></div>
        </div>
        <!--fixed-column-wrap-content end-->
      </div>
      <!--fixed-column-wrap end-->
      <!--column-wrap-->
      <div class="column-wrap">
        <!--column-wrap-container -->
        <div class="column-wrap-container fl-wrap">
          <div class="col-wc_dec">
            <div class="pr-bg pr-bg-white"></div>
          </div>
          <div class="col-wc_dec col-wc_dec2">
            <div class="pr-bg pr-bg-white"></div>
          </div>
          <div class="container">
          <div class="col-md-12">
            <h1 style="color:blackred;font-size:25px;">IGC Cypher Membership</h1>
            <p>
              IGC Fashion is a Community based Fashion Label in Uganda,
              which is following the philosophy of Inspiring, creating
              and sharing. Since the beginning of their work IGC Fashion
              organised different Community Cyphers and Workshops,
              whereby the Designers taught the Community (children and
              adults) how to tailor, design and create. This project is
              a platform for the children, youth, and young mothers'
              hidden potential as it involves an all-around arts
              display, not only fashion but also dance, rap, painting,
              singing, modeling IGC wants to awaken the youths’ desire
              to try themselves out and strengthen their
              self-confidence. The goals of the event are to inspire and
              motivate the youths, to build hope and create unity and
              love between individuals. By sharing skills in fashion and
              other arts IGC aims to fight unemployment by preventing
              youth from being idle and making them discover ways to be
              creative to gain their own income. The Fashion Cypher is a
              significant occasion which is essential for IGC’s goal to
              use fashion for social change. Today the Fashion Label
              works in many different areas like Kampala (Kazo,
              Kawempe), Kisoro, Kasese, Kitigum and grows more every
              day. Be part of IGCommunity #iamigc
            </p>
          </div>
          <section class="col-md-12">
            <div class="col-md-6">
              <h1 style="color:blackred;font-size:25px;">Support an intern</h1>
              <p>
                IGC Fashion supports the young adults to improve on
                their skills and develop them. Therefore the Fashion
                label started an Intern Program whereby young adults can
                apply to learn from IGC and create their own business.
                Still many people are not capable of paying the school
                fees or materials which are needed for their Internship.
              </p>
            </div>

            <div class="col-md-6">
              <h1 style="color:blackred;font-size:25px;">IGC School Membership</h1>
              <p>
                IGC’s biggest goal is to build their own art school,
                where people can learn different skills in Art. Uganda
                is a country of expression, expression through art,
                therefore IGC wants to support the community with
                education, the artists with a school and connections and
                the youths with building opportunities. Be part of our
                school
              </p>
            </div>
            </div>
          </section>
          <div class="section-separator"></div>

          <div class="section-separator"></div>
          <!--section-->

          <!--section end-->
        </div>
        <!--column-wrap-container end-->
      </div>
      <!--column-wrap end-->
      <div class="limit-box fl-wrap"></div>
    </div>
    <!--section  -->
    <section class="no-padding-bottom" id="sec1">
      <!-- container-->
      <div class="container">
        <!-- det-wrap-->
        <div class="fl-wrap det-wrap">
          <div class="row">
            <section class="pricing-section">
              <div class="container">
                <div class="sec-title text-center">
                  <span class="title">Get plan</span>
                  <h2>Membership Plan</h2>
                </div>
                <div class="outer-box">
                  <div class="row">
                    <!-- Pricing Block -->
                    <div
                      class="
                        pricing-block
                        col-lg-4 col-md-6 col-sm-12
                        wow
                        fadeInUp
                      "
                    >
                      <div class="inner-box">
                        <div class="icon-box">
                          <div class="icon-outer">
                            <i class="fas fa-paper-plane"></i>
                          </div>
                        </div>
                        <div class="price-box">
                          <div class="title">IGC Cypher</div>
                          <h4 class="price">$15 monthly</h4>
                        </div>
                        <ul class="features">
                          <li class="true">Donate monthly</li>
                          <li class="true">
                            Get 5% of all IGC Clothes
                          </li>
                          <li class="true">
                            Newsletter 4 times a year
                          </li>
                          <li class="false">Catalogue</li>
                        </ul>
                        <div class="btn-box">
                          <a href="#" class="theme-btn">Register</a>
                        </div>
                      </div>
                    </div>

                    <!-- Pricing Block -->
                    <div
                      class="
                        pricing-block
                        col-lg-4 col-md-6 col-sm-12
                        wow
                        fadeInUp
                      "
                      data-wow-delay="400ms"
                    >
                      <div class="inner-box">
                        <div class="icon-box">
                          <div class="icon-outer">
                            <i class="fas fa-gem"></i>
                          </div>
                        </div>
                        <div class="price-box">
                          <div class="title">Support an intern</div>
                          <h4 class="price">$35 monthly</h4>
                        </div>
                        <ul class="features">
                          <li class="true">Monthly donation</li>
                          <li class="true">
                            10% discount of all igc clothes
                          </li>
                          <li class="true">
                            4 individual reports of your intern a year
                          </li>
                          <li class="true">Newsletter</li>
                          <li class="false">Catalogue</li>
                          <li class="false">
                            0% of Lubugo Tour Travels
                          </li>
                        </ul>
                        <div class="btn-box">
                          <a href="#" class="theme-btn">Register</a>
                        </div>
                      </div>
                    </div>

                    <!-- Pricing Block -->
                    <div
                      class="
                        pricing-block
                        col-lg-4 col-md-6 col-sm-12
                        wow
                        fadeInUp
                      "
                      data-wow-delay="800ms"
                    >
                      <div class="inner-box">
                        <div class="icon-box">
                          <div class="icon-outer">
                            <i class="fas fa-rocket"></i>
                          </div>
                        </div>
                        <div class="price-box">
                          <div class="title">IGC School Membership</div>
                          <h4 class="price">$45 monthly</h4>
                        </div>
                        <ul class="features">
                          <li class="true">Monthly donation</li>
                          <li class="true">15% of IGC clothes</li>
                          <li class="true">
                            Newsletter and latest plans of the school
                            development
                          </li>
                          <li class="true">Catalogue</li>
                          <li class="true">
                            10% of Lubugo Tours Travels
                          </li>
                        </ul>
                        <div class="btn-box">
                          <a href="#" class="theme-btn">Register</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="col-md-8 first-tile_load">
              <!-- tabs-container-->

              <!-- tabs-container end-->
              <div class="clearfix"></div>
              <span class="dec-border fl-wrap"></span>

              <div class="pr-bg pr-bg-white"></div>
            </div>
          </div>
        </div>
        <!-- det-wrap end-->
      </div>
      <!-- container end -->
      <div class="clearfix"></div>
      <div class="limit-box fl-wrap"></div>
      <div class="content-nav_holder fl-wrap first-tile_load">
        <div class="container">
          <div class="content-nav">
            <ul>
              <li>
                <a href="portfolio-single13.html"
                  ><i class="fal fa-long-arrow-left"></i><span></span
                ></a>
                <div class="content-nav_mediatooltip cnmd_leftside">
                  <img src="images/bg/hoima-airport-1.jpg" alt="" />
                </div>
              </li>
              <li>
                <a href="portfolio.html" class="list-folio_nav">
                  <span></span>
                </a>
              </li>
              <li>
                <a href="portfolio-single12.html"
                  ><span></span> <i class="fal fa-long-arrow-right"></i
                ></a>
                <div class="content-nav_mediatooltip cnmd_rightside">
                  <img src="images/bg/nsa-1.jpg" alt="" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--content end -->
  <!-- footer -->
  <div class="height-emulator fl-wrap"></div>
  <footer class="main-footer fixed-footer">
    <div class="pr-bg"></div>
    <div class="container">
      <div class="fl-wrap footer-inner">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-logo">
              <img src="images/igc-fashion-logo.png" alt="" />
            </div>
            <div class="footer_text footer-box fl-wrap">
              <p>
                IGC is a fashion and costume label from kampala uganda
                inspired by African heritage, nature and culture always
                paired with a forward thinking and a unique design
                aesthetic.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-header fl-wrap">
              <span>01.</span> Contacts
            </div>
            <!-- footer-contacts-->
            <div class="footer-contacts footer-box fl-wrap">
              <ul>
                <li>
                  <span>Call:</span
                  ><a href="tel: +(256)770693987">+(256)750889338 </a>
                </li>
                <li>
                  <span>Write :</span
                  ><a href="mailto: info@igcfashion.com">
                    info@igcfashion.com</a
                  >
                </li>
                <li>
                  <span>Find us : </span
                  ><a href="https://goo.gl/maps/Ku9ogvBxwpLqPCJTA">
                    Kisaasi, Kampala, Uganda
                  </a>
                </li>
              </ul>
            </div>
            <!-- footer contacts end -->
            <a href="mailto:info@igcfashion.com" class="fc_button"
              >Get In Touch <i class="fal fa-envelope"></i
            ></a>
          </div>
          <div class="col-md-4">
            <div class="footer-header fl-wrap">
              <span>02.</span> Subscribe
            </div>
            <div class="footer-box fl-wrap">
              <p>
                Want to be notified with our recent and on-going
                projects. Just sign up and we'll send you a notification
                by email.
              </p>
              <div class="subcribe-form fl-wrap">
                <form id="subscribe" class="fl-wrap">
                  <input
                    class="enteremail"
                    name="email"
                    id="subscribe-email"
                    placeholder="Your Email"
                    spellcheck="false"
                    type="text"
                  />
                  <button
                    type="submit"
                    id="subscribe-button"
                    class="subscribe-button"
                  >
                    Send <i class="fal fa-long-arrow-right"></i>
                  </button>
                  <label
                    for="subscribe-email"
                    class="subscribe-message"
                  ></label>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subfooter fl-wrap">
        <!-- policy-box-->
        <div class="policy-box">
          <span>&#169; IGC FASHION 2021 / All rights reserved. </span>
        </div>
        <!-- policy-box end-->
        <a href="#" class="to-top-btn to-top"
          >Back to top <i class="fal fa-long-arrow-up"></i
        ></a>
      </div>
    </div>
    <div class="footer-canvas">
      <div class="dots gallery__dots" data-dots=""></div>
    </div>
  </footer>