<div class="content">
    <!--fixed-column-wrap-->
    <div class="fixed-column-wrap">
        <!--fixed-column-wrap-content-->
        <div class="pr-bg"></div>
        <div class="fixed-column-wrap-content">

            <div class="bg" data-bg="images/all/cyh-4.jpg"></div>

            <div class="progress-bar-wrap bot-element">
                <div class="progress-bar"></div>
            </div>
            <!--fixed-column-wrap_title-->
            <div class="fixed-column-wrap_title first-tile_load">
                <h2>MISTAKEN <br> FABRICS</h2>

            </div>
            <!--fixed-column-wrap_title end-->
            <div class="fixed-column-dec"></div>
        </div>
        <!--fixed-column-wrap-content end-->
    </div>
    <!--fixed-column-wrap end-->
    <!--column-wrap-->
    <div class="column-wrap">
        <!--column-wrap-container -->
        <div class="column-wrap-container fl-wrap">
            <div class="col-wc_dec">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <div class="col-wc_dec col-wc_dec2">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <section class="small-padding article">
                <div class="container">
                    <div class="split-sceen-content_title fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3>
                            A project by IGC Fashion in collaboration with An Smid
                        </h3>
                    </div>
                    <div class="column-wrap-content fl-wrap">
                        <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="single-slider-wrap">
                                <div class="single-slider fl-wrap">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper lightgallery">
                                            <div class="swiper-slide hov_zoom"><img src="images/all/cyh-6.jpg" alt=""><a
                                                    href="images/all/cyh-6.jpg" class="box-media-zoom   popup-image"><i
                                                        class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/workshop-3.jpg"
                                                    alt=""><a href="images/all/workshop-3.jpg"
                                                    class="box-media-zoom   popup-image"><i
                                                        class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/cyh-5.jpg" alt=""><a
                                                    href="images/all/cyh-5.jpg" class="box-media-zoom   popup-image"><i
                                                        class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/cyh-3.jpg" alt=""><a
                                                    href="images/all/cyh-3.jpg" class="box-media-zoom   popup-image"><i
                                                        class="fal fa-search"></i></a></div>


                                        </div>
                                    </div>


                                </div>
                                <div class="ss-slider-controls">
                                    <div class="pr-bg pr-bg-white"></div>
                                    <div class="ss-slider-pagination"></div>
                                    <div class="ss-slider-cont ss-slider-cont-prev color-bg"><i
                                            class="fal fa-long-arrow-left"></i></div>
                                    <div class="ss-slider-cont ss-slider-cont-next color-bg"><i
                                            class="fal fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="column-wrap-text">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="post-opt fl-wrap">
                                    </div>
                                    <p>
                                        Clothes: IGC Fashion (Katende Godfrey & Kasoma Ibrahim)<br>
                                        Photographer: An Smid <br>
                                        Models: Ronnie Senkayi, Kasoma Ibrahim, Faith Momo, Matovu Given <br>
                                        <b> Concept: </b> <br>
                                        The concept of this project is derived from IGC’s own philosophical beliefs and
                                        values. In their work, the people from IGC take a stand against what they call
                                        ‘fast fashion’; the rapid and unsustainable production and consumption of
                                        clothes- a trend that increasingly seems to shape modern fashion industries all
                                        over the world.
                                        As Ibrahim, designer at IGC Fashion explained, cheap clothing bought at stores
                                        such as H&M or Zara are worn only a few times before they get thrown away and
                                        end up being dumped in places such as Uganda. Here, these clothes get sorted and
                                        sold to the public. However, a large selection of these clothes end up on huge
                                        landfills, bringing toxic pollution to the air and furthering the cause of
                                        Earth’s decay. It is just another example how unsustainable consumption patterns
                                        in the West end up bringing most damage to the Global South.
                                        In their observation of such trends, IGC fashion intervenes at the stage of
                                        recycling. Instead of throwing away the fabrics that were deemed unfit for
                                        secondary sales; they rework these “mistaken fabrics” into their designs and
                                        such, do they not only create unique shapes and pieces of clothing but also
                                        limit the amount of fabric ending up on dumpsites. <br>
                                        <br>
                                        <b>Design:</b>
                                        The clothes designed by IGC fashion all share similar features that make them
                                        stand out from ordinary fashion trends. Besides the fabrics redeemed from waste,
                                        pieces of local fabrics like kitenge and bark cloth get worked into the designs.
                                        The shapes of the clothes are derived from Ugandan culture; symbols of arrows,
                                        shields, ancient architecture and traditional homestead items like “ndeku
                                        (gourd)” are reworked into the designs. Another feature that these designs share
                                        is something that could be described as rough tailoring. The end products do not
                                        conceal the production process; it is clear that the clothes are made out of
                                        different pieces of fabric composed together; like a collage.
                                        Finally, the IGC designs all hold somewhat of a futuristic energy, or a
                                        self-described post apocalyptic vibe. The jumpsuits and jackets seem to come
                                        from another world- or era- one which perhaps is cold, toxic and, where clothes
                                        need to provide full protection against a polluted earth. The designs might
                                        invoke an imaginary, yet very real scenario of a world we will have to live in
                                        if we continue these unsustainable habits.


                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                    </div>
                </div>
            </section>

            <div class="section-separator"></div>
        </div>
        <!--column-wrap-container end-->
    </div>
    <!--column-wrap end-->
    <div class="limit-box fl-wrap"></div>
</div>