<div class="content dark-bg">
    <!--section-->
    <section class="hero-section dark-bg" data-scrollax-parent="true">
        <div class="hero-canvas-wrap fs-canvas first-tile_load">
            <!-- <div class="dots gallery__dots" data-dots=""></div> -->
        </div>
        <div class="hero-bg">
            <div class="bg par-elem"
                  data-bg="images/bg/png.png"
                  data-scrollax="properties: { translateY: '30%' }">
            </div>

            <!-- <div class="pr-bg">hey</div>
        <div class="hero-bg-dec"><span> am here</span></div> -->
        </div>
        <div class="container">
            <div class="section-title fl-wrap first-tile_load">
                <h2>
                    <!-- Upcoming<br /> -->
                    <span style="color: #f76905;">Munsiko</span>
                </h2>

                <div class="section-title_category">
                    <a href="#">CREATE.INSPIRE.SHARE</a> <a href="#">Design</a>
                </div>
            </div>
        </div>
        <div class="hero-start-link bot-element">
            <div class="scroll-down-wrap">
                <div class="mousey">
                    <!-- <div class="scroller">hello</div> -->
                </div>
                <span>Scroll Down to discover</span>
            </div>
            <a href="#sec1" class="custom-scroll-link color-bg"><i class="fal fa-long-arrow-down"></i></a>
        </div>
    </section>
    <!--section end-->
    <!--section  -->
    <section class="no-padding-bottom dark-bg" id="sec1">
        <!-- container-->
        <div class="container">
            <!-- det-wrap-->
            <div class="fl-wrap det-wrap">
                <div class="row">
                    <div class="first-tile_load">
                        <!-- tabs-container-->
                        <div id="tabs-container" class="fl-wrap">
                
                            <div id="tab-1" class="tab-content">
                               
                                <div class="
                                                              gallery-items
                                                              min-pad
                                                              lightgallery
                                                              two-column
                                                              fl-wrap
                                                            ">
                                    <!-- gallery-item-->
                                    <div class="gallery-item">
                                        <div class="grid-item-holder">
                                            <a href="images/folio/sample/img1.JPG" class="
                                                                    fet_pr-carousel-box-media-zoom
                                                                    popup-image
                                                                  "><i class="fal fa-search"></i></a>
                                            <img src="images/folio/sample/IMG_3269.JPG" alt="" />
                                        </div>
                                    </div>
                                    <!-- gallery-item end-->
                                    <!-- gallery-item-->
                                    <div class="gallery-item gallery-item-second">
                                        <div class="grid-item-holder">
                                            <a href="images/folio/sample/IMG_3200.PNG" class="
                                                                    fet_pr-carousel-box-media-zoom
                                                                    popup-image
                                                                  "><i class="fal fa-search"></i></a>
                                            <img src="images/folio/sample/IMG_3206.JPG" alt="" />
                                        </div>
                                    </div>
                                    <!-- gallery-item end-->
                                    <!-- gallery-item-->
                                    <div class="gallery-item">
                                        <div class="grid-item-holder">
                                            <a href="images/folio/sample/IMG_3219.JPG" class="
                                                                    fet_pr-carousel-box-media-zoom
                                                                    popup-image
                                                                  "><i class="fal fa-search"></i></a>
                                            <img src="images/folio/sample/img1.JPG" alt="" />
                                        </div>
                                    </div>
                                    <!-- gallery-item end-->
                                    <!-- gallery-item-->
                                    <div class="gallery-item web">
                                        <div class="grid-item-holder">
                                            <a href="images/folio/sample/IMG_3219 2.jpg" class="
                                                                    fet_pr-carousel-box-media-zoom
                                                                    popup-image
                                                                  "><i class="fal fa-search"></i></a>
                                            <img src="images/folio/sample/IMG_3219 2.jpg" alt="" />
                                        </div>
                                    </div>
                                    <!-- gallery-item end-->
                                    <!-- gallery-item-->
                                    <div class="gallery-item">
                                        <div class="grid-item-holder">
                                            <a href="images/folio/sample/IMG_3231.JPG" class="
                                                                    fet_pr-carousel-box-media-zoom
                                                                    popup-image
                                                                  "><i class="fal fa-search"></i></a>
                                            <img src="images/folio/sample/IMG_3231.JPG" alt="" />
                                        </div>
                                    </div>
                                    <!-- gallery-item end-->
                                    <!-- gallery-item-->
                                    <div class="gallery-item">
                                        <div class="grid-item-holder">
                                            <a href="images/folio/sample/IMG_3197.JPG" class="
                                                                    fet_pr-carousel-box-media-zoom
                                                                    popup-image
                                                                  "><i class="fal fa-search"></i></a>
                                            <img src="images/folio/sample/IMG_3197.JPG" alt="" />
                                        </div>
                                    </div>
                                    <!-- gallery-item end-->
                                </div>
                               
                               
                        
                            </div>
                            <!-- tab-content end-->
                            
<div class="fl-wrap">
    <div class="pr-bg pr-bg-white"></div>
    <div class="home-title">
        <h3>Project Details</h3>
    </div>
    <ul class="pr-list dark-bg">
        <li><span>Designer :</span> IGC Fashion</li>
        <li><span>Photography :</span> Papashootit</li>
        <li>
            <span>Model :</span> Ibrahim, Faith, Moreen, Sophie.
        </li>
        <li>
            <span>Google Map : </span>
            <a href="#" target="_blank">
                Ssebagala Road, Kisasi, Kampala.
            </a>
        </li>
    </ul>
</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- det-wrap end-->
        </div>
        <!-- container end -->
        <div class="clearfix"></div>
        <div class="limit-box fl-wrap"></div>
    
    </section>
</div>
