<div class="content">
    <!--fixed-column-wrap-->
   
    <!--fixed-column-wrap end-->
    <!--column-wrap--> 
    <div class="column-wrap2">
        <!--column-wrap-container -->   
        <div class="fl-wrap dark-bg">
            <div class="col-wc_dec">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <div class="col-wc_dec col-wc_dec2">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <section  class="small-padding article dark-bg">
                <div class="container">
    
                    <div class="split-sceen-content_title fl-wrap">
                        <!-- <div class="pr-bg pr-bg-white"></div> -->
                        <h3>
                            Fashion Cyphers</h3>
                    </div>
                    <div class="column-wrap-content fl-wrap">
                        <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="single-slider-wrap">
                                <div class="single-slider fl-wrap">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper lightgallery">
                                            <div class="swiper-slide hov_zoom"><img src="images/all/cyhper-6.jpg" alt=""><a href="images/all/cyhper-6.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/cypher-2.jpg" alt=""><a href="images/all/cypher-2.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/cyhper-3.jpg" alt=""><a href="images/all/cyhper-3.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/workshop-2.jpg" alt=""><a href="images/all/cypher-4.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            
                                            
                                        </div>
                                    </div>
                                    
                                   
                                </div>
                                <div class="ss-slider-controls">
                                    <div class="pr-bg pr-bg-white"></div>
                                    <div class="ss-slider-pagination"></div>
                                    <div class="ss-slider-cont ss-slider-cont-prev color-bg"><i class="fal fa-long-arrow-left"></i></div>
                                    <div class="ss-slider-cont ss-slider-cont-next color-bg"><i class="fal fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="column-wrap-text">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="post-opt fl-wrap">
                                    </div>
                                    <p>
                                        The word “cypher” is originally from hip hop which means to come together and share skills and personal expressions and experience for others to watch, learn and experiment. This is  what we expect when we organize this community event. The event is of course free for everyone who wants to join.
                                        On the Fashion Cypher IGC Fashion recycles and mends torn clothes of the street children and teaches them about fashion. For example, we show them how to operate a manual tailoring machine and stitching and wiring. We also donate clothes to the children, all handmade and tailored by IGC fashion. Additionally, lunch is provided for free.
                                        This project is a platform for the children, youth, and young mothers hidden potential as it involves an all-around arts display, not only fashion but also dance, rap, painting, singing, modeling IGC wants to awaken the youths’ desire to try themselves out and strengthen their self-confidence.
                                        The goals of the event are to inspire and motivate the youths, to build hope and create unity and love between individuals. By sharing skills in fashion and other arts IGC aims to fight unemployment by preventing youth from being idle and making them discover ways to be creative to gain their own income.
                                        The Fashion Cypher is a significant occasion which is essential for IGC’s goal to use fashion for social change.
                                        </p>
                                </div>
                            </div>
                        </div>
                        <div class="parallax-header"> <a href="/fashioncyphers">EXPLORE MORE</a> </div> 
                        <!-- <div class="parallax-header" style="float: right;"> <a href="/fashioncyphers">DONATE</a> </div> -->
                    </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                    </div>
                </div>
            </section>
            <!--section end--> 
            <!-- <div class="section-separator"></div> -->
            <!--section--> 
            <section  class="small-padding article dark-bg">
                <div class="container">
                    <div class="split-sceen-content_title fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3>KWETU KWANZA</h3>
                       
                    </div>
                    <div class="column-wrap-content fl-wrap">
                        <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="single-slider-wrap">
                                <div class="single-slider fl-wrap">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper lightgallery">
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-2.jpg" alt=""><a href="images/all/kwetu-2.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-1.jpg" alt=""><a href="images/all/kwetu-1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-4.jpg" alt=""><a href="images/all/kwetu-4.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-5.jpg" alt=""><a href="images/all/kwetu-5.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            <div class="swiper-slide hov_zoom"><img src="images/all/kwetu-7.jpg" alt=""><a href="images/all/kwetu-7.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="ss-slider-controls">
                                    <div class="pr-bg pr-bg-white"></div>
                                    <div class="ss-slider-pagination"></div>
                                    <div class="ss-slider-cont ss-slider-cont-prev color-bg"><i class="fal fa-long-arrow-left"></i></div>
                                    <div class="ss-slider-cont ss-slider-cont-next color-bg"><i class="fal fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="column-wrap-text">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="post-opt fl-wrap">
                                    </div>
                                    <p>Kwetu Kwanza is  an annual culture and fashion conference on environment sustainability, a day which brings together fashion designers, influencers, bloggers both local and international to engage with the participants in an open panel discussion on four thematic areas which inclu
                                        The current situation of fashion in  Uganda,The enviromental impact of textiles and wastes,
                                         How we can build a more sustaninable fashion and creative industry whilst promoting cultural diversity.
                                          
                                           </p>
                                    <p>This is followed with an Exhibition of Art works that are eco-friendly from sustainable fashion designers and visual artists, documentary film screening about sustainable fashion and a 3 days Open studio on how to recycle, tasting Natural material/fabrics and collaborative learning.
                                        WHY DO WE WANT TO TALK ABOUT FASHION?
                                        WHY DOES FASHION CONCERN US ALL?</p>
                                 </div>
                            </div>
                        </div>
                        <div class="parallax-header"> <a href="/kwetukwanza">EXPLORE MORE</a> </div>
                    </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                    </div>
                </div>
            </section>
            <!--section end-->        
            <!-- <div class="section-separator"></div> -->
            <!--section--> 
            <section  class="small-padding article dark-bg">
                    <div class="container">
                        <div class="split-sceen-content_title fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <h3>Fashion Workshops</h3>
                            
                        </div>
                        <div class="column-wrap-content fl-wrap">
                            <div class="column-wrap-media fl-wrap">
                                <div class="pr-bg pr-bg-white"></div>
                                <div class="single-slider-wrap">
                                    <div class="single-slider fl-wrap">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper lightgallery">
                                                <div class="swiper-slide hov_zoom"><img src="images/all/workshop-0.jpg" alt=""><a href="images/all/workshop-0.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                <div class="swiper-slide hov_zoom"><img src="images/all/workshop-1.jpg" alt=""><a href="images/all/workshop-1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                <div class="swiper-slide hov_zoom"><img src="images/all/workshop-02.jpg" alt=""><a href="images/all/workshop-3.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                <div class="swiper-slide hov_zoom"><img src="images/all/workshop03.jpg" alt=""><a href="images/all/workshop03.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ss-slider-controls">
                                        <div class="pr-bg pr-bg-white"></div>
                                        <div class="ss-slider-pagination"></div>
                                        <div class="ss-slider-cont ss-slider-cont-prev color-bg"><i class="fal fa-long-arrow-left"></i></div>
                                        <div class="ss-slider-cont ss-slider-cont-next color-bg"><i class="fal fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column-wrap-text">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="post-opt fl-wrap">
                                        </div>
                                        <p>we also carry out community fashion outreach events and workshops every month in different regions around Uganda with the aim of creating , inspiring and sharing tailoring skills to
                                             youths and children with the help of other fashion designers ,artists and different organizations to build a creative approach on how to eradicate unemployment one of the major problems facing communities in East Africa.</p>
                                     </div>
                                </div>
                            </div>
                            <div class="parallax-header"> <a href="/workshop">EXPLORE MORE</a> </div>
                        </div>
                        <div class="section-number right_sn">
                            <div class="pr-bg pr-bg-white"></div>
                        </div>
                    </div>
                </section>
                <!--section end-->      
            <!-- <div class="section-separator"></div> -->
            <!--section--> 
            <section  class="small-padding article dark-bg">
                    <div class="container">
                        <div class="split-sceen-content_title fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <h3>IGC SUSTAINABILITY INNOVATION</h3>
                            
                        </div>
                        <div class="column-wrap-content fl-wrap">
                            <div class="column-wrap-media fl-wrap">
                                <div class="pr-bg pr-bg-white"></div>
                                <div class="single-slider-wrap">
                                    <div class="single-slider fl-wrap">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper lightgallery">
                                                <div class="swiper-slide hov_zoom"><img src="images/all/mistaken1.png" alt=""><a href="images/all/mistaken1.png" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                <div class="swiper-slide hov_zoom"><img src="images/all/mistaken2.png" alt=""><a href="images/all/mistaken2.png" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                <div class="swiper-slide hov_zoom"><img src="images/all/mistaken3.png" alt=""><a href="images/all/mistaken3.png" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                               
                                            </div>
                                            
                                </div>
                                <div class="ss-slider-controls">
                                    <div class="pr-bg pr-bg-white"></div>
                                    <div class="ss-slider-pagination"></div>
                                    <div class="ss-slider-cont ss-slider-cont-prev color-bg"><i class="fal fa-long-arrow-left"></i></div>
                                    <div class="ss-slider-cont ss-slider-cont-next color-bg"><i class="fal fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                        
                            <div class="column-wrap-text">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="post-opt fl-wrap">
                                        </div>
                                        <br><br>
                                        <p> The concept of this project is derived from IGC’s own philosophical beliefs and values. In their  work, the people from IGC take a stand against what they call ‘fast fashion’; the rapid and  unsustainable production and consumption of clothes- a trend that increasingly seems to shape  modern fashion industries all over the world.  

                                            As Ibrahim, designer at IGC Fashion explained, cheap clothing bought at stores such as H&M or  Zara are worn only a few times before they get thrown away and end up being dumped in places  such as Uganda. Here, these clothes get sorted and sold to the public. However, a large selection  of these clothes end up on huge landfills, bringing toxic pollution to the air and furthering the cause  of Earth’s decay. It is just another example how unsustainable consumption patterns in the West  end up bringing most damage to the Global South.  
                                            
                                            In their observation of such trends, IGC fashion intervenes at the stage of recycling. Instead of  throwing away the fabrics that were deemed unfit for secondary sales; they rework these “mistaken  fabrics” into their designs and such, do they not only create unique shapes and pieces of clothing  but also limit the amount of fabric ending up on dumpsites.
                                     </div>
                                </div>
                            </div>
                            <div class="parallax-header"> <a href="/mistakenfabrics">EXPLORE MORE</a> </div>
                        </div>
                        <div class="section-number right_sn">
                            <div class="pr-bg pr-bg-white"></div>
                        </div>
                    </div>
                </section>
            <!--section end--> 
                <!-- <div class="section-separator"></div> -->
           </div>
        <!--column-wrap-container end-->         
    </div>
    <!--column-wrap end--> 
    <div class="limit-box fl-wrap"></div>
</div>
<!--content end -->       
 <!-- footer -->
<div class="height-emulator fl-wrap"></div>
