<div class="content">
    <!--fixed-column-wrap-->
    <div class="fixed-column-wrap">
        <!--fixed-column-wrap-content-->
        <div class="pr-bg"></div>
        <div class="fixed-column-wrap-content">

            <div class="bg" data-bg="images/bg/on-going.jpg"></div>

            <div class="progress-bar-wrap bot-element">
                <div class="progress-bar"></div>
            </div>
            <!--fixed-column-wrap_title-->
            <div class="fixed-column-wrap_title first-tile_load">
                <h2>
                    FASHION <br />
                    WORKSHOPS
                </h2>
            </div>
            <!--fixed-column-wrap_title end-->
            <div class="fixed-column-dec"></div>
        </div>
        <!--fixed-column-wrap-content end-->
    </div>
    <!--fixed-column-wrap end-->
    <!--column-wrap-->
    <div class="column-wrap">
        <!--column-wrap-container -->
        <div class="column-wrap-container fl-wrap">
            <div class="col-wc_dec">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <div class="col-wc_dec col-wc_dec2">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <section class="small-padding article">
                <div class="container">
                    <div class="split-sceen-content_title fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3>PAPER FIG FOUNDATION 2017-NOW</h3>
                    </div>
                    <div class="column-wrap-content fl-wrap">
                        <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="single-slider-wrap">
                                <div class="single-slider fl-wrap">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper lightgallery">
                                            <div class="swiper-slide hov_zoom">
                                                <img src="images/all/cyhper-1.jpg" alt="" /><a
                                                    href="images/all/cyhper-1.jpg" class="box-media-zoom popup-image"><i
                                                        class="fal fa-search"></i></a>
                                            </div>
                                            <div class="swiper-slide hov_zoom">
                                                <img src="images/all/paper2.jpg" alt="" /><a
                                                    href="images/all/paper2.jpg" class="box-media-zoom popup-image"><i
                                                        class="fal fa-search"></i></a>
                                            </div>
                                            <div class="swiper-slide hov_zoom">
                                                <img src="images/all/paper3.jpg" alt="" /><a
                                                    href="images/all/paper3.jpg" class="box-media-zoom popup-image"><i
                                                        class="fal fa-search"></i></a>
                                            </div>

                                            <div class="swiper-slide hov_zoom">
                                                <img src="images/all/kwetu-5.jpg" alt="" /><a
                                                    href="images/all/kwetu-5.jpg" class="box-media-zoom popup-image"><i
                                                        class="fal fa-search"></i></a>
                                            </div>
                                            <div class="swiper-slide hov_zoom">
                                                <img src="images/all/paper1.jpg" alt="" /><a
                                                    href="images/all/paper1.jpg" class="box-media-zoom popup-image"><i
                                                        class="fal fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ss-slider-controls">
                                    <div class="pr-bg pr-bg-white"></div>
                                    <div class="ss-slider-pagination"></div>
                                    <div class="
                                ss-slider-cont ss-slider-cont-prev
                                color-bg
                              ">
                                        <i class="fal fa-long-arrow-left"></i>
                                    </div>
                                    <div class="
                                ss-slider-cont ss-slider-cont-next
                                color-bg
                              ">
                                        <i class="fal fa-long-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column-wrap-text">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="post-opt fl-wrap"></div>
                                    <p>
                                        Once a month we go to Kasese in the western parts
                                        of Uganda at the Paper Fig Foundation Sew school
                                        to do a masterclass in different techqnies of
                                        fashion. PFF is a theroporist arm of Laurie Dejong
                                        the founder and CEO of LDJ productions, a New York
                                        based productions Company. We met Laurie during
                                        Kampala Fashion Week and have been working
                                        together ever since to bring masterclasses to the
                                        students of Kasese.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                    </div>
                </div>
            </section>
            <!--section end-->
            <div class="section-separator"></div>
            <!--section-->
            <section class="small-padding article">
                <div class="container">
                    <div class="split-sceen-content_title fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3>MILANDILA MASTERCLASS 2018</h3>
                    </div>
                    <div class="column-wrap-content fl-wrap">
                        <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="single-slider-wrap">
                                <div class="single-slider fl-wrap">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper lightgallery">
                                            <div class="swiper-slide hov_zoom">
                                                <img src="images/all/workshop-1.jpg" alt="" /><a
                                                    href="images/all/workshop-1.jpg"
                                                    class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                                            </div>
                                            <div class="swiper-slide hov_zoom">
                                                <img src="images/all/milandila-1.jpg" alt="" /><a
                                                    href="images/all/milandila-1.jpg"
                                                    class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                                            </div>
                                            <div class="swiper-slide hov_zoom">
                                                <img src="images/all/milandila-2.jpg" alt="" /><a
                                                    href="images/all/milandila-2.jpg"
                                                    class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                                            </div>
                                            <div class="swiper-slide hov_zoom">
                                                <img src="images/all/milandila.jpg" alt="" /><a
                                                    href="images/all/milandila.jpg"
                                                    class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ss-slider-controls">
                                    <div class="pr-bg pr-bg-white"></div>
                                    <div class="ss-slider-pagination"></div>
                                    <div class="
                                ss-slider-cont ss-slider-cont-prev
                                color-bg
                              ">
                                        <i class="fal fa-long-arrow-left"></i>
                                    </div>
                                    <div class="
                                ss-slider-cont ss-slider-cont-next
                                color-bg
                              ">
                                        <i class="fal fa-long-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column-wrap-text">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="post-opt fl-wrap"></div>
                                    <p>
                                        We worked with milandila FOUNDATION. to teach the
                                        youth of wakiso, Bulabakulu village the different
                                        tecqinies of sewing and tailoring.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                    </div>
                </div>
            </section>
            <!--section end-->
            <div class="section-separator"></div>
            <!--section-->
            <section class="small-padding article">
                <div class="container">
                    <div class="split-sceen-content_title fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3>LOCAL KID ORGANIZATION</h3>
                    </div>
                    <div class="column-wrap-content fl-wrap">
                        <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="single-slider-wrap">
                                <div class="single-slider fl-wrap">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper lightgallery">
                                            <div class="swiper-slide hov_zoom">
                                                <img src="images/all/2.jpg" alt="" /><a href="images/all/2.jpg"
                                                    class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                                            </div>
                                            <div class="swiper-slide hov_zoom">
                                                <img src="images/all/st-kid1.jpg" alt="" /><a
                                                    href="images/all/st-kid1.jpg" class="box-media-zoom popup-image"><i
                                                        class="fal fa-search"></i></a>
                                            </div>
                                            <div class="swiper-slide hov_zoom">
                                                <img src="images/all/workshop-4.jpg" alt="" /><a
                                                    href="images/all/workshop-4.jpg"
                                                    class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ss-slider-controls">
                                    <div class="pr-bg pr-bg-white"></div>
                                    <div class="ss-slider-pagination"></div>
                                    <div class="
                                ss-slider-cont ss-slider-cont-prev
                                color-bg
                              ">
                                        <i class="fal fa-long-arrow-left"></i>
                                    </div>
                                    <div class="
                                ss-slider-cont ss-slider-cont-next
                                color-bg
                              ">
                                        <i class="fal fa-long-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column-wrap-text">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="post-opt fl-wrap"></div>
                                    <p>
                                        We partner with Local Kid to enable the parents of
                                        Kisoro, Batwa community to have income generating
                                        skills like tailoring, we have managed to teach
                                        them how to make duffel bags that they make and
                                        local kid helps to sell and in turn they can use
                                        the money to provide for their families.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                    </div>
                </div>
            </section>
            <!--section end-->
            <div class="section-separator"></div>

            <div class="section-separator"></div>
        </div>
        <!--column-wrap-container end-->
    </div>
    <!--column-wrap end-->
    <div class="limit-box fl-wrap"></div>
</div>